.SearchBar {
}

.icon {
    position: absolute;
    margin-left: 15px;
    margin-top: 7px;
    cursor: pointer;
}

.input {
    border-radius: 30px;
    background-color: rgba(19, 17, 17, 0.43);
    height: 30px;
    color: #ffffff;
    font-weight: normal;
    font-size: 20px;
    width: 100%;
    border-color: transparent;
    padding: 18px 18px 18px 50px;
}

input::placeholder {
    color: rgb(194, 194, 194);
}

input:focus {
    outline-width: 0;
    border: solid 1px white;
}

